*{
	margin: 0px;
}

html{
	scroll-behavior: smooth;
}


#intro{
	height: 100vh;
	background-image: url("../images/img-1.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.nav-link{
	color: #FFF !important;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 20px;
}

.navbar-brand{
	color: #FFF !important;
	font-weight: 700;
	font-size: 35px;
}

.nav-link:hover{
	color: #F6F341 !important;
	border-bottom: 1.5px solid #F6F341;
}

.navbar-brand:hover{
	color: #F6F341 !important;
	font-weight: 740;
}

#introbody{
	margin-top: 158px;
}

#introbody h4{
	color: #FFF;
	font-weight: 600;
}

#introbody h4:hover{
	color: #F6F341;
	font-weight: 650;
}

.btn{
	margin-right: 15px;
	font-weight: bolder;
	box-shadow: 0px 0px 2px 3px white;
}

#AboutUs{
	width: 100%;
	height: auto;
	font-family: sans-serif;
	background-color: #fff;
	margin-top: 20px;
	overflow: hidden;
}

#AboutUs h2{
	font-weight:bolder!important; 
	font-size: 40px;
}

#AboutUs p{
	text-align: justify;
	font-weight: bold;
	font-size: auto;
	color: #000;
}

#imgpara{
	width: 100%;
	height: auto;
}

#org{
	max-width: 60%;
	height: auto;
	float: left;
}

#jumpon,#learnmore{
	text-decoration: none;
	color: #000;
}

#Destinations{
	margin-top: 20px;
	height: auto;
}

#Destinations h2{
	font-size: 40px;
}

#Destinations img{
	width: 100%;
	height: 80vh;
}

#imgcontainer{
	margin-top: 15px;
}

#car{
	height: 100vh;
}

#Packages{
	margin-top: 30px;
	width: 100%;
	height: auto;
}

div[id^="plan"]{
	width: auto;
	height: 40vh;
	margin-bottom: 30px;
	margin-top: 20px;
	border: 2px solid black;
	background-color: #f8f9fa;
	border-radius: 5%;
}

div[id^="plan"]:hover{
	box-shadow: 0px 0px 100px 1px rgba(0,0,0,0.3);
}

hr{
	height: 20px;
}

div[id^="plan"]{
	font-family: "Verdana";
}

#ContactUs{
	width: 100%;
	height: auto;
	margin-top: 20px;
	background-color: #f8f9fa;
	font-size: 12px;
	font-family: "Verdana";
}

#socialmedia{
	font-size: 17px;
}

#Copyrighted{
	text-align: center;
	font-size: 15px;
}

#icons{
	word-spacing: 20px;
	font-size: 25px;
}


#link{
	font-size: 17px;
	word-spacing: 1px;
}

#note{
	text-align: center;
	font-size: 16px;
}

#form{
	width: 50%;
	height: auto;
	position: relative;
	left: 50%;
	top: -15vh;
}

#notices{
	margin-top: -4vh;
}

#homepage{
	color: #F6F341 !important;
}